#primingWords{
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
}

.listOfWords li{
    color: #aaa;
    list-style: none;
    display: inline;
    margin: 0 2px;
}

#primeButton{
    margin-top:20px;
    background-color:#eee;
    color: #444;
    padding: 4px 15px;
    border-radius: 1px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.16);
    transition: background-color .2s ease;
}
#primeButton:hover{
    background-color:#ccc;
    cursor: pointer;
}